body {
    background: #9370DB;
    margin: 0;
    padding: 0;
}

#conteudo {
    background: #808080;
    padding: 10px;
    width: 90%; 
    max-width: 900px; 
    margin: 30px auto;
}

.caixa {
    background: #F08080;
    margin: 10px;
    width: 100px;
    height: 100px;
    color: #FFFFFF;
    text-align: center; 
    line-height: 100px; 
}

#relativo {
    position: relative;
    left: 40px;
}

#absoluto {
    position: absolute;
    left: 100px;
    top: 1;
}

#fixo {
    position: fixed;
    left: 10%; 
    top: 0;
}
